<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213357596476-bjl9ahn0q6pdku7622llka2k1bath6ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213357596476-bjl9ahn0q6pdku7622llka2k1bath6ga</string>
	<key>API_KEY</key>
	<string>AIzaSyBI9ngb4xzKxrst0SezvoPFg-puRctypqU</string>
	<key>GCM_SENDER_ID</key>
	<string>213357596476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noahoriguchicat</string>
	<key>PROJECT_ID</key>
	<string>percentcat</string>
	<key>STORAGE_BUCKET</key>
	<string>percentcat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213357596476:ios:5b910baa8b4b9531709839</string>
	<key>DATABASE_URL</key>
	<string>https://percentcat-default-rtdb.firebaseio.com</string>
</dict>
</plist>